/**
 * Styles for Custom Summon Search Tool by Matthew Reidsma
 * Grand Valley State University Libraries, 2011
 *
 * Modified by BGSU Library ITS, 2011
 * @author	Dave Widmer (dwidmer@bgsu.edu)
 */
body { 
	background-color: #ffffff; 
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #000000;
	font-size: 13px;
	line-height:1.5em;
	margin:0;
	padding:0;
}

h1,h2,h3{
	font-weight:normal;
}

h1{ font-size:2em; }
h2{ font-size:1.5em; }
h3{ font-size:1.5em; }

small{
	font-size:0.9em;
	font-style: italic;
	color:#777;
}

input[type="checkbox"], input[type="checkbox"] + label{
	cursor:pointer;
}

input[type="button"]{
	margin-top:1em;
}

.column {
	display:inline-block;
	min-height:400px;
	vertical-align:top;
}
#sidebar{ width:25%; margin-right:3%; padding:.67em; }
#sidebar h2{ margin-top:0; }
#wrapper{ width:68%;}

#keywords{
	width:80%;
}

.refine{
	margin: -1em 0 1em 90px;
}

.box { background-color:#EEE; }

.box > div{
	padding:.5em;
}

.box h3{
	margin:0;
	padding: .2em .4em;
	border-bottom:1px solid rgba(0,0,0,.15);
	font-size:1.25em;
	background-color:#FF7300;
	color:#FFF;
	text-shadow:2px 2px 1px rgba(0,0,0,0.25);
}

#languages{
	margin-right:0;
}

.hasDatepicker{
	width:75px;
}

#summon_code{
	padding:1em;
	border:1px dotted #444;
	background-color:#EEE;
}

.tree-handle{
	cursor:pointer;
}
.tree-handle:before{
	content:"[+] ";
}
.tree-handle.tree-expanded:before{
	content:"[-] ";
}
.tree-collapsed{
	display:none;
}